body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures the page covers the entire viewport height */
}

header {
    background-color: #232f3e;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::before {
    content: ''; /* Pseudo-element content */
    position: absolute;
    bottom: -5px; /* Position relative to bottom */
    left: 0;
    width: 100%;
    height: 1px; /* Border thickness */
    background-color: transparent; /* Initially invisible */
    transition: background-color 0.3s ease; /* Transition effect */
}

nav ul li a:hover {
    color: #febd69; /* Color change on hover */
}

nav ul li a:hover::before {
    background-color: #febd69; /* Border color change on hover */
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px 0 0 3px;
}

search-bar button {
    padding: 7px;
    background-color: #febd69;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #ffa500; /* Background color change on hover */
}

main {
    flex: 1; /* Ensures footer stays at the bottom */
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-top: 40px;
}

.product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    width: 200px;
}

.product-card img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-card p {
    color: #b12704;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.product-card button {
    background-color: #febd69;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: color 0.3s ease;
}

.product-card button:hover {
    background-color: #ffa500; /* Background color change on hover */
}

footer {
    background-color: #232f3e;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: sticky;
    bottom: 0;
}
